{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center"  style="margin-top: 40px; column-width: 60px;">
    <div class="col-lg-8 col-md-6 col-sm-10">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
        <div class="card-body">
            <h2 class="card-title" style="color: #0275d8">Create a Post</h2>
            <hr size="5px">
              <form class="form-group" method="POST">
                 {{ form.hidden_tag() }}

                 <div class="form-group">
                 {{ form.title.label(class="form-control-label") }}
                 {{ form.title(class="form-control form-control-lg ") }}
                 </div>
                 <div class="form-group">
                 {{ form.text.label(class="form-control-label") }}
                 {{ form.text(class="form-control form-control-lg") }}
                 </div>
                 <div class="form-group">
                    <center>
                     <!-- {{ form.submit(class="btn btn-outline-info col-md-2", style="color: #0275d8;") }} -->
                     <button class="btn btn-primary btn-sm col-md-2" type="submit" style="margin-top: 15px;">Post</button>
                    </center>
                 </div>
              </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


